1.1/src/Omni/Omni.Client/Web References/org.omniproject.service/omniservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.omniproject.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://service.omniproject.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://service.omniproject.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SessionNew">
        <s:complexType />
      </s:element>
      <s:element name="SessionNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionNewResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionAbandon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionAbandonResponse">
        <s:complexType />
      </s:element>
      <s:element name="SessionKeepAlive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionKeepAliveResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserGetCaptcha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bgcolor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frontcolor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserGetCaptchaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserGetCaptchaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIsLoggedIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIsLoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserIsLoggedInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sn_network" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sn_screenname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserUpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdateInterests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserUpdateInterestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserUpdateInterestsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCurrent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCurrentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCurrentResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sn_network" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sn_screenname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="reg_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="log_date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserInterests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInterestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInterestsResult" type="tns:ArrayOfInterest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInterest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Interest" nillable="true" type="tns:Interest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Interest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserProfileResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FriendsListResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:element name="FriendsCheckFriendPair">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="friend_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsCheckFriendPairResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FriendsCheckFriendPairResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="friend_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FriendsAddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="friend_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FriendsRemoveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsSearchUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsSearchUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FriendsSearchUsersResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsGetIntroduced">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsGetIntroducedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FriendsGetIntroducedResult" type="tns:ArrayOfUserSimil" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserSimil">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserSimil" nillable="true" type="tns:UserSimil" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserSimil">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          <s:element minOccurs="1" maxOccurs="1" name="self_rating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="net_rating" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="simil" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="InterestList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterestListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InterestListResult" type="tns:ArrayOfInterest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanguageList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanguageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LanguageListResult" type="tns:ArrayOfLanguage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLanguage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="tns:Language" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Language">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DefinitionLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefinitionLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefinitionLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="src_lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dst_lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SessionNewSoapIn">
    <wsdl:part name="parameters" element="tns:SessionNew" />
  </wsdl:message>
  <wsdl:message name="SessionNewSoapOut">
    <wsdl:part name="parameters" element="tns:SessionNewResponse" />
  </wsdl:message>
  <wsdl:message name="SessionExistsSoapIn">
    <wsdl:part name="parameters" element="tns:SessionExists" />
  </wsdl:message>
  <wsdl:message name="SessionExistsSoapOut">
    <wsdl:part name="parameters" element="tns:SessionExistsResponse" />
  </wsdl:message>
  <wsdl:message name="SessionAbandonSoapIn">
    <wsdl:part name="parameters" element="tns:SessionAbandon" />
  </wsdl:message>
  <wsdl:message name="SessionAbandonSoapOut">
    <wsdl:part name="parameters" element="tns:SessionAbandonResponse" />
  </wsdl:message>
  <wsdl:message name="SessionKeepAliveSoapIn">
    <wsdl:part name="parameters" element="tns:SessionKeepAlive" />
  </wsdl:message>
  <wsdl:message name="SessionKeepAliveSoapOut">
    <wsdl:part name="parameters" element="tns:SessionKeepAliveResponse" />
  </wsdl:message>
  <wsdl:message name="UserGetCaptchaSoapIn">
    <wsdl:part name="parameters" element="tns:UserGetCaptcha" />
  </wsdl:message>
  <wsdl:message name="UserGetCaptchaSoapOut">
    <wsdl:part name="parameters" element="tns:UserGetCaptchaResponse" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:UserIsLoggedIn" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:UserIsLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="UserLogoutSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogout" />
  </wsdl:message>
  <wsdl:message name="UserLogoutSoapOut">
    <wsdl:part name="parameters" element="tns:UserLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:UserRegister" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:UserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UserUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:UserUpdate" />
  </wsdl:message>
  <wsdl:message name="UserUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UserUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UserUpdateInterestsSoapIn">
    <wsdl:part name="parameters" element="tns:UserUpdateInterests" />
  </wsdl:message>
  <wsdl:message name="UserUpdateInterestsSoapOut">
    <wsdl:part name="parameters" element="tns:UserUpdateInterestsResponse" />
  </wsdl:message>
  <wsdl:message name="UserCurrentSoapIn">
    <wsdl:part name="parameters" element="tns:UserCurrent" />
  </wsdl:message>
  <wsdl:message name="UserCurrentSoapOut">
    <wsdl:part name="parameters" element="tns:UserCurrentResponse" />
  </wsdl:message>
  <wsdl:message name="UserInterestsSoapIn">
    <wsdl:part name="parameters" element="tns:UserInterests" />
  </wsdl:message>
  <wsdl:message name="UserInterestsSoapOut">
    <wsdl:part name="parameters" element="tns:UserInterestsResponse" />
  </wsdl:message>
  <wsdl:message name="UserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UserProfile" />
  </wsdl:message>
  <wsdl:message name="UserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsListSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsList" />
  </wsdl:message>
  <wsdl:message name="FriendsListSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsListResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsCheckFriendPairSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsCheckFriendPair" />
  </wsdl:message>
  <wsdl:message name="FriendsCheckFriendPairSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsCheckFriendPairResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsAddSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsAdd" />
  </wsdl:message>
  <wsdl:message name="FriendsAddSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsAddResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsRemove" />
  </wsdl:message>
  <wsdl:message name="FriendsRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsSearchUsersSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsSearchUsers" />
  </wsdl:message>
  <wsdl:message name="FriendsSearchUsersSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsSearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsGetIntroducedSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsGetIntroduced" />
  </wsdl:message>
  <wsdl:message name="FriendsGetIntroducedSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsGetIntroducedResponse" />
  </wsdl:message>
  <wsdl:message name="InterestListSoapIn">
    <wsdl:part name="parameters" element="tns:InterestList" />
  </wsdl:message>
  <wsdl:message name="InterestListSoapOut">
    <wsdl:part name="parameters" element="tns:InterestListResponse" />
  </wsdl:message>
  <wsdl:message name="LanguageListSoapIn">
    <wsdl:part name="parameters" element="tns:LanguageList" />
  </wsdl:message>
  <wsdl:message name="LanguageListSoapOut">
    <wsdl:part name="parameters" element="tns:LanguageListResponse" />
  </wsdl:message>
  <wsdl:message name="DefinitionLookupSoapIn">
    <wsdl:part name="parameters" element="tns:DefinitionLookup" />
  </wsdl:message>
  <wsdl:message name="DefinitionLookupSoapOut">
    <wsdl:part name="parameters" element="tns:DefinitionLookupResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationLookup" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationLookupResponse" />
  </wsdl:message>
  <wsdl:portType name="OmniServiceSoap">
    <wsdl:operation name="SessionNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a new session, returns a session id.</wsdl:documentation>
      <wsdl:input message="tns:SessionNewSoapIn" />
      <wsdl:output message="tns:SessionNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SessionExists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check if the session exists.</wsdl:documentation>
      <wsdl:input message="tns:SessionExistsSoapIn" />
      <wsdl:output message="tns:SessionExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SessionAbandon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Abandon session.</wsdl:documentation>
      <wsdl:input message="tns:SessionAbandonSoapIn" />
      <wsdl:output message="tns:SessionAbandonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SessionKeepAlive">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Keep session alive.</wsdl:documentation>
      <wsdl:input message="tns:SessionKeepAliveSoapIn" />
      <wsdl:output message="tns:SessionKeepAliveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserGetCaptcha">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a captcha image.</wsdl:documentation>
      <wsdl:input message="tns:UserGetCaptchaSoapIn" />
      <wsdl:output message="tns:UserGetCaptchaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check if user has logged in.</wsdl:documentation>
      <wsdl:input message="tns:UserIsLoggedInSoapIn" />
      <wsdl:output message="tns:UserIsLoggedInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">User login.</wsdl:documentation>
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">User logout.</wsdl:documentation>
      <wsdl:input message="tns:UserLogoutSoapIn" />
      <wsdl:output message="tns:UserLogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Register a new user account.</wsdl:documentation>
      <wsdl:input message="tns:UserRegisterSoapIn" />
      <wsdl:output message="tns:UserRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserUpdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update an existing user account.</wsdl:documentation>
      <wsdl:input message="tns:UserUpdateSoapIn" />
      <wsdl:output message="tns:UserUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserUpdateInterests">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update a user's interests.</wsdl:documentation>
      <wsdl:input message="tns:UserUpdateInterestsSoapIn" />
      <wsdl:output message="tns:UserUpdateInterestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get current user information.</wsdl:documentation>
      <wsdl:input message="tns:UserCurrentSoapIn" />
      <wsdl:output message="tns:UserCurrentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterests">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get interests for a user.</wsdl:documentation>
      <wsdl:input message="tns:UserInterestsSoapIn" />
      <wsdl:output message="tns:UserInterestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a user profile.</wsdl:documentation>
      <wsdl:input message="tns:UserProfileSoapIn" />
      <wsdl:output message="tns:UserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all friends for a user.</wsdl:documentation>
      <wsdl:input message="tns:FriendsListSoapIn" />
      <wsdl:output message="tns:FriendsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsCheckFriendPair">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks if this user has Friend on their friends list.</wsdl:documentation>
      <wsdl:input message="tns:FriendsCheckFriendPairSoapIn" />
      <wsdl:output message="tns:FriendsCheckFriendPairSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsAdd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a friend to this user's friend list.</wsdl:documentation>
      <wsdl:input message="tns:FriendsAddSoapIn" />
      <wsdl:output message="tns:FriendsAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsRemove">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Removes a friend from this user's friend list.</wsdl:documentation>
      <wsdl:input message="tns:FriendsRemoveSoapIn" />
      <wsdl:output message="tns:FriendsRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsSearchUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for Omni users by username, email, display name, or description.</wsdl:documentation>
      <wsdl:input message="tns:FriendsSearchUsersSoapIn" />
      <wsdl:output message="tns:FriendsSearchUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsGetIntroduced">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get introduced to other Omni users (by a specific lang, and common interests).</wsdl:documentation>
      <wsdl:input message="tns:FriendsGetIntroducedSoapIn" />
      <wsdl:output message="tns:FriendsGetIntroducedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all interests in the system.</wsdl:documentation>
      <wsdl:input message="tns:InterestListSoapIn" />
      <wsdl:output message="tns:InterestListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all languages in the system.</wsdl:documentation>
      <wsdl:input message="tns:LanguageListSoapIn" />
      <wsdl:output message="tns:LanguageListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefinitionLookup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Dictionary definition lookup service.</wsdl:documentation>
      <wsdl:input message="tns:DefinitionLookupSoapIn" />
      <wsdl:output message="tns:DefinitionLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Translate a message.</wsdl:documentation>
      <wsdl:input message="tns:TranslationLookupSoapIn" />
      <wsdl:output message="tns:TranslationLookupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OmniServiceSoap" type="tns:OmniServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SessionNew">
      <soap:operation soapAction="http://service.omniproject.org/SessionNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionExists">
      <soap:operation soapAction="http://service.omniproject.org/SessionExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionAbandon">
      <soap:operation soapAction="http://service.omniproject.org/SessionAbandon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionKeepAlive">
      <soap:operation soapAction="http://service.omniproject.org/SessionKeepAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetCaptcha">
      <soap:operation soapAction="http://service.omniproject.org/UserGetCaptcha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap:operation soapAction="http://service.omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://service.omniproject.org/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <soap:operation soapAction="http://service.omniproject.org/UserLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap:operation soapAction="http://service.omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdate">
      <soap:operation soapAction="http://service.omniproject.org/UserUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdateInterests">
      <soap:operation soapAction="http://service.omniproject.org/UserUpdateInterests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <soap:operation soapAction="http://service.omniproject.org/UserCurrent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterests">
      <soap:operation soapAction="http://service.omniproject.org/UserInterests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserProfile">
      <soap:operation soapAction="http://service.omniproject.org/UserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsList">
      <soap:operation soapAction="http://service.omniproject.org/FriendsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsCheckFriendPair">
      <soap:operation soapAction="http://service.omniproject.org/FriendsCheckFriendPair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsAdd">
      <soap:operation soapAction="http://service.omniproject.org/FriendsAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsRemove">
      <soap:operation soapAction="http://service.omniproject.org/FriendsRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsSearchUsers">
      <soap:operation soapAction="http://service.omniproject.org/FriendsSearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsGetIntroduced">
      <soap:operation soapAction="http://service.omniproject.org/FriendsGetIntroduced" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <soap:operation soapAction="http://service.omniproject.org/InterestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <soap:operation soapAction="http://service.omniproject.org/LanguageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefinitionLookup">
      <soap:operation soapAction="http://service.omniproject.org/DefinitionLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap:operation soapAction="http://service.omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OmniServiceSoap12" type="tns:OmniServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SessionNew">
      <soap12:operation soapAction="http://service.omniproject.org/SessionNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionExists">
      <soap12:operation soapAction="http://service.omniproject.org/SessionExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionAbandon">
      <soap12:operation soapAction="http://service.omniproject.org/SessionAbandon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionKeepAlive">
      <soap12:operation soapAction="http://service.omniproject.org/SessionKeepAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetCaptcha">
      <soap12:operation soapAction="http://service.omniproject.org/UserGetCaptcha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap12:operation soapAction="http://service.omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://service.omniproject.org/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <soap12:operation soapAction="http://service.omniproject.org/UserLogout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap12:operation soapAction="http://service.omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdate">
      <soap12:operation soapAction="http://service.omniproject.org/UserUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdateInterests">
      <soap12:operation soapAction="http://service.omniproject.org/UserUpdateInterests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <soap12:operation soapAction="http://service.omniproject.org/UserCurrent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterests">
      <soap12:operation soapAction="http://service.omniproject.org/UserInterests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserProfile">
      <soap12:operation soapAction="http://service.omniproject.org/UserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsList">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsCheckFriendPair">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsCheckFriendPair" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsAdd">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsRemove">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsSearchUsers">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsSearchUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsGetIntroduced">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsGetIntroduced" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <soap12:operation soapAction="http://service.omniproject.org/InterestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <soap12:operation soapAction="http://service.omniproject.org/LanguageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefinitionLookup">
      <soap12:operation soapAction="http://service.omniproject.org/DefinitionLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OmniService">
    <wsdl:port name="OmniServiceSoap" binding="tns:OmniServiceSoap">
      <soap:address location="http://www.omniproject.org/service/omniservice.asmx" />
    </wsdl:port>
    <wsdl:port name="OmniServiceSoap12" binding="tns:OmniServiceSoap12">
      <soap12:address location="http://www.omniproject.org/service/omniservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>