1.1/src/Omni/Omni.Client/Web References/org.omniproject.service/omniservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.omniproject.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://service.omniproject.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://service.omniproject.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SessionNew">
        <s:complexType />
      </s:element>
      <s:element name="SessionNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionNewResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionAbandon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionAbandonResponse">
        <s:complexType />
      </s:element>
      <s:element name="SessionKeepAlive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionKeepAliveResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserGetCaptcha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bgcolor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frontcolor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserGetCaptchaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserGetCaptchaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIsLoggedIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIsLoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserIsLoggedInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sn_network" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sn_screenname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserUpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdateInterests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserUpdateInterestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserUpdateInterestsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdateLanguages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="skills" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdateLanguagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserUpdateLanguagesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCurrent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCurrentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCurrentResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sn_network" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sn_screenname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="reg_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="log_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="user_rating" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserInterests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInterestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInterestsResult" type="tns:ArrayOfInterest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInterest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Interest" nillable="true" type="tns:Interest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Interest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserProfileResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLanguages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLanguagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLanguagesResult" type="tns:ArrayOfUserLanguage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserLanguage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserLanguage" nillable="true" type="tns:UserLanguage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserLanguage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="self_rating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="net_rating" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserSummaryResult" type="tns:UserSummary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserSummary">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="has_updated_profile" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="unread_msgs" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="open_personal_trans_req" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="trans_req_to_approve" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="open_global_trans_req" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FriendsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FriendsListResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:element name="FriendsCheckFriendPair">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="friend_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsCheckFriendPairResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FriendsCheckFriendPairResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="friend_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FriendsAddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="friend_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FriendsRemoveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsSearchUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsSearchUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FriendsSearchUsersResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsGetIntroduced">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsGetIntroducedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FriendsGetIntroducedResult" type="tns:ArrayOfUserSimil" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserSimil">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserSimil" nillable="true" type="tns:UserSimil" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserSimil">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          <s:element minOccurs="1" maxOccurs="1" name="self_rating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="net_rating" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="simil" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="InterestList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterestListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InterestListResult" type="tns:ArrayOfInterest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanguageList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanguageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LanguageListResult" type="tns:ArrayOfLanguage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLanguage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="tns:Language" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Language">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TranslationSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="src_lang_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_lang_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationSearchResult" type="tns:ArrayOfTranslation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTranslation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Translation" nillable="true" type="tns:Translation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Translation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:TransType" />
          <s:element minOccurs="1" maxOccurs="1" name="request_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="src_lang_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dst_lang_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dst_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dst_type" type="tns:TransDstType" />
          <s:element minOccurs="0" maxOccurs="1" name="dst_username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orig_body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="completed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="trans_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="trans_body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="trans_rating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="trans_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="trans_user" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="trans_username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="user_rating" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TransType">
        <s:restriction base="s:string">
          <s:enumeration value="Request" />
          <s:enumeration value="Full" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="TransDstType">
        <s:restriction base="s:string">
          <s:enumeration value="Public" />
          <s:enumeration value="User" />
          <s:enumeration value="Group" />
        </s:restriction>
      </s:simpleType>
      <s:element name="TranslationGetUnapprovedForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationGetUnapprovedForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationGetUnapprovedForUserResult" type="tns:ArrayOfTranslation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationGetNonPendingApprovalForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationGetNonPendingApprovalForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationGetNonPendingApprovalForUserResult" type="tns:ArrayOfTranslation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationGetRequestsForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationGetRequestsForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationGetRequestsForUserResult" type="tns:ArrayOfTranslation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationFindGlobalRequestsForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationFindGlobalRequestsForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationFindGlobalRequestsForUserResult" type="tns:ArrayOfTranslation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationRequestGetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="req_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationRequestGetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationRequestGetByIdResult" type="tns:Translation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationAnswersGetByReqId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="req_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationAnswersGetByReqIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationAnswersGetByReqIdResult" type="tns:ArrayOfTranslation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationRequestAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="src_lang_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_lang_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_type" type="tns:TransDstType" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationRequestAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TranslationRequestAddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationAnswerAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="req_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationAnswerAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TranslationAnswerAddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationAnswerRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="trans_ans_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationAnswerRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TranslationAnswerRateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationRequestClose">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="req_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ans_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationRequestCloseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TranslationRequestCloseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageGetReceivedForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageGetReceivedForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageGetReceivedForUserResult" type="tns:ArrayOfMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="src_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dst_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="unread" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="dst_type" type="tns:MsgDstType" />
          <s:element minOccurs="0" maxOccurs="1" name="src_username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dst_username" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MsgDstType">
        <s:restriction base="s:string">
          <s:enumeration value="User" />
          <s:enumeration value="Group" />
        </s:restriction>
      </s:simpleType>
      <s:element name="MessageGetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="msg_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageGetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageGetByIdResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageGetSentForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageGetSentForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageGetSentForUserResult" type="tns:ArrayOfMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dst_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_type" type="tns:MsgDstType" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MessageSendResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HallOfFameByQuantity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HallOfFameByQuantityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HallOfFameByQuantityResult" type="tns:ArrayOfUserRank" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserRank">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserRank" nillable="true" type="tns:UserRank" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserRank">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          <s:element minOccurs="1" maxOccurs="1" name="rank" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="HallOfFameByRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="session" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HallOfFameByRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HallOfFameByRatingResult" type="tns:ArrayOfUserRank" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefinitionLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefinitionLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DefinitionLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="src_lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dst_lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SessionNewSoapIn">
    <wsdl:part name="parameters" element="tns:SessionNew" />
  </wsdl:message>
  <wsdl:message name="SessionNewSoapOut">
    <wsdl:part name="parameters" element="tns:SessionNewResponse" />
  </wsdl:message>
  <wsdl:message name="SessionExistsSoapIn">
    <wsdl:part name="parameters" element="tns:SessionExists" />
  </wsdl:message>
  <wsdl:message name="SessionExistsSoapOut">
    <wsdl:part name="parameters" element="tns:SessionExistsResponse" />
  </wsdl:message>
  <wsdl:message name="SessionAbandonSoapIn">
    <wsdl:part name="parameters" element="tns:SessionAbandon" />
  </wsdl:message>
  <wsdl:message name="SessionAbandonSoapOut">
    <wsdl:part name="parameters" element="tns:SessionAbandonResponse" />
  </wsdl:message>
  <wsdl:message name="SessionKeepAliveSoapIn">
    <wsdl:part name="parameters" element="tns:SessionKeepAlive" />
  </wsdl:message>
  <wsdl:message name="SessionKeepAliveSoapOut">
    <wsdl:part name="parameters" element="tns:SessionKeepAliveResponse" />
  </wsdl:message>
  <wsdl:message name="UserGetCaptchaSoapIn">
    <wsdl:part name="parameters" element="tns:UserGetCaptcha" />
  </wsdl:message>
  <wsdl:message name="UserGetCaptchaSoapOut">
    <wsdl:part name="parameters" element="tns:UserGetCaptchaResponse" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:UserIsLoggedIn" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:UserIsLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="UserLogoutSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogout" />
  </wsdl:message>
  <wsdl:message name="UserLogoutSoapOut">
    <wsdl:part name="parameters" element="tns:UserLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:UserRegister" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:UserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UserUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:UserUpdate" />
  </wsdl:message>
  <wsdl:message name="UserUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UserUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UserUpdateInterestsSoapIn">
    <wsdl:part name="parameters" element="tns:UserUpdateInterests" />
  </wsdl:message>
  <wsdl:message name="UserUpdateInterestsSoapOut">
    <wsdl:part name="parameters" element="tns:UserUpdateInterestsResponse" />
  </wsdl:message>
  <wsdl:message name="UserUpdateLanguagesSoapIn">
    <wsdl:part name="parameters" element="tns:UserUpdateLanguages" />
  </wsdl:message>
  <wsdl:message name="UserUpdateLanguagesSoapOut">
    <wsdl:part name="parameters" element="tns:UserUpdateLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="UserCurrentSoapIn">
    <wsdl:part name="parameters" element="tns:UserCurrent" />
  </wsdl:message>
  <wsdl:message name="UserCurrentSoapOut">
    <wsdl:part name="parameters" element="tns:UserCurrentResponse" />
  </wsdl:message>
  <wsdl:message name="UserInterestsSoapIn">
    <wsdl:part name="parameters" element="tns:UserInterests" />
  </wsdl:message>
  <wsdl:message name="UserInterestsSoapOut">
    <wsdl:part name="parameters" element="tns:UserInterestsResponse" />
  </wsdl:message>
  <wsdl:message name="UserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UserProfile" />
  </wsdl:message>
  <wsdl:message name="UserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="UserLanguagesSoapIn">
    <wsdl:part name="parameters" element="tns:UserLanguages" />
  </wsdl:message>
  <wsdl:message name="UserLanguagesSoapOut">
    <wsdl:part name="parameters" element="tns:UserLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="UserSummarySoapIn">
    <wsdl:part name="parameters" element="tns:UserSummary" />
  </wsdl:message>
  <wsdl:message name="UserSummarySoapOut">
    <wsdl:part name="parameters" element="tns:UserSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsListSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsList" />
  </wsdl:message>
  <wsdl:message name="FriendsListSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsListResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsCheckFriendPairSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsCheckFriendPair" />
  </wsdl:message>
  <wsdl:message name="FriendsCheckFriendPairSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsCheckFriendPairResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsAddSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsAdd" />
  </wsdl:message>
  <wsdl:message name="FriendsAddSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsAddResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsRemove" />
  </wsdl:message>
  <wsdl:message name="FriendsRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsSearchUsersSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsSearchUsers" />
  </wsdl:message>
  <wsdl:message name="FriendsSearchUsersSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsSearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsGetIntroducedSoapIn">
    <wsdl:part name="parameters" element="tns:FriendsGetIntroduced" />
  </wsdl:message>
  <wsdl:message name="FriendsGetIntroducedSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsGetIntroducedResponse" />
  </wsdl:message>
  <wsdl:message name="InterestListSoapIn">
    <wsdl:part name="parameters" element="tns:InterestList" />
  </wsdl:message>
  <wsdl:message name="InterestListSoapOut">
    <wsdl:part name="parameters" element="tns:InterestListResponse" />
  </wsdl:message>
  <wsdl:message name="LanguageListSoapIn">
    <wsdl:part name="parameters" element="tns:LanguageList" />
  </wsdl:message>
  <wsdl:message name="LanguageListSoapOut">
    <wsdl:part name="parameters" element="tns:LanguageListResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationSearchSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationSearch" />
  </wsdl:message>
  <wsdl:message name="TranslationSearchSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationSearchResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationGetUnapprovedForUserSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationGetUnapprovedForUser" />
  </wsdl:message>
  <wsdl:message name="TranslationGetUnapprovedForUserSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationGetUnapprovedForUserResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationGetNonPendingApprovalForUserSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationGetNonPendingApprovalForUser" />
  </wsdl:message>
  <wsdl:message name="TranslationGetNonPendingApprovalForUserSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationGetNonPendingApprovalForUserResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationGetRequestsForUserSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationGetRequestsForUser" />
  </wsdl:message>
  <wsdl:message name="TranslationGetRequestsForUserSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationGetRequestsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationFindGlobalRequestsForUserSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationFindGlobalRequestsForUser" />
  </wsdl:message>
  <wsdl:message name="TranslationFindGlobalRequestsForUserSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationFindGlobalRequestsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationRequestGetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationRequestGetById" />
  </wsdl:message>
  <wsdl:message name="TranslationRequestGetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationRequestGetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationAnswersGetByReqIdSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationAnswersGetByReqId" />
  </wsdl:message>
  <wsdl:message name="TranslationAnswersGetByReqIdSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationAnswersGetByReqIdResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationRequestAddSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationRequestAdd" />
  </wsdl:message>
  <wsdl:message name="TranslationRequestAddSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationRequestAddResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationAnswerAddSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationAnswerAdd" />
  </wsdl:message>
  <wsdl:message name="TranslationAnswerAddSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationAnswerAddResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationAnswerRateSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationAnswerRate" />
  </wsdl:message>
  <wsdl:message name="TranslationAnswerRateSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationAnswerRateResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationRequestCloseSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationRequestClose" />
  </wsdl:message>
  <wsdl:message name="TranslationRequestCloseSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationRequestCloseResponse" />
  </wsdl:message>
  <wsdl:message name="MessageGetReceivedForUserSoapIn">
    <wsdl:part name="parameters" element="tns:MessageGetReceivedForUser" />
  </wsdl:message>
  <wsdl:message name="MessageGetReceivedForUserSoapOut">
    <wsdl:part name="parameters" element="tns:MessageGetReceivedForUserResponse" />
  </wsdl:message>
  <wsdl:message name="MessageGetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:MessageGetById" />
  </wsdl:message>
  <wsdl:message name="MessageGetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:MessageGetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="MessageGetSentForUserSoapIn">
    <wsdl:part name="parameters" element="tns:MessageGetSentForUser" />
  </wsdl:message>
  <wsdl:message name="MessageGetSentForUserSoapOut">
    <wsdl:part name="parameters" element="tns:MessageGetSentForUserResponse" />
  </wsdl:message>
  <wsdl:message name="MessageSendSoapIn">
    <wsdl:part name="parameters" element="tns:MessageSend" />
  </wsdl:message>
  <wsdl:message name="MessageSendSoapOut">
    <wsdl:part name="parameters" element="tns:MessageSendResponse" />
  </wsdl:message>
  <wsdl:message name="HallOfFameByQuantitySoapIn">
    <wsdl:part name="parameters" element="tns:HallOfFameByQuantity" />
  </wsdl:message>
  <wsdl:message name="HallOfFameByQuantitySoapOut">
    <wsdl:part name="parameters" element="tns:HallOfFameByQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="HallOfFameByRatingSoapIn">
    <wsdl:part name="parameters" element="tns:HallOfFameByRating" />
  </wsdl:message>
  <wsdl:message name="HallOfFameByRatingSoapOut">
    <wsdl:part name="parameters" element="tns:HallOfFameByRatingResponse" />
  </wsdl:message>
  <wsdl:message name="DefinitionLookupSoapIn">
    <wsdl:part name="parameters" element="tns:DefinitionLookup" />
  </wsdl:message>
  <wsdl:message name="DefinitionLookupSoapOut">
    <wsdl:part name="parameters" element="tns:DefinitionLookupResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationLookup" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationLookupResponse" />
  </wsdl:message>
  <wsdl:portType name="OmniServiceSoap">
    <wsdl:operation name="SessionNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a new session, returns a session id.</wsdl:documentation>
      <wsdl:input message="tns:SessionNewSoapIn" />
      <wsdl:output message="tns:SessionNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SessionExists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check if the session exists.</wsdl:documentation>
      <wsdl:input message="tns:SessionExistsSoapIn" />
      <wsdl:output message="tns:SessionExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SessionAbandon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Abandon session.</wsdl:documentation>
      <wsdl:input message="tns:SessionAbandonSoapIn" />
      <wsdl:output message="tns:SessionAbandonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SessionKeepAlive">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Keep session alive.</wsdl:documentation>
      <wsdl:input message="tns:SessionKeepAliveSoapIn" />
      <wsdl:output message="tns:SessionKeepAliveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserGetCaptcha">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a captcha image.</wsdl:documentation>
      <wsdl:input message="tns:UserGetCaptchaSoapIn" />
      <wsdl:output message="tns:UserGetCaptchaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check if user has logged in.</wsdl:documentation>
      <wsdl:input message="tns:UserIsLoggedInSoapIn" />
      <wsdl:output message="tns:UserIsLoggedInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">User login.</wsdl:documentation>
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">User logout.</wsdl:documentation>
      <wsdl:input message="tns:UserLogoutSoapIn" />
      <wsdl:output message="tns:UserLogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Register a new user account.</wsdl:documentation>
      <wsdl:input message="tns:UserRegisterSoapIn" />
      <wsdl:output message="tns:UserRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserUpdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update an existing user account.</wsdl:documentation>
      <wsdl:input message="tns:UserUpdateSoapIn" />
      <wsdl:output message="tns:UserUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserUpdateInterests">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update a user's interests. Any not in the provided list will be removed.</wsdl:documentation>
      <wsdl:input message="tns:UserUpdateInterestsSoapIn" />
      <wsdl:output message="tns:UserUpdateInterestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserUpdateLanguages">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update a user's languages. Any not in the provided list will be removed.</wsdl:documentation>
      <wsdl:input message="tns:UserUpdateLanguagesSoapIn" />
      <wsdl:output message="tns:UserUpdateLanguagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get current user information.</wsdl:documentation>
      <wsdl:input message="tns:UserCurrentSoapIn" />
      <wsdl:output message="tns:UserCurrentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterests">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get interests for a user.</wsdl:documentation>
      <wsdl:input message="tns:UserInterestsSoapIn" />
      <wsdl:output message="tns:UserInterestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a user profile.</wsdl:documentation>
      <wsdl:input message="tns:UserProfileSoapIn" />
      <wsdl:output message="tns:UserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLanguages">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a user's languages.</wsdl:documentation>
      <wsdl:input message="tns:UserLanguagesSoapIn" />
      <wsdl:output message="tns:UserLanguagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserSummary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a user's summary.</wsdl:documentation>
      <wsdl:input message="tns:UserSummarySoapIn" />
      <wsdl:output message="tns:UserSummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all friends for a user.</wsdl:documentation>
      <wsdl:input message="tns:FriendsListSoapIn" />
      <wsdl:output message="tns:FriendsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsCheckFriendPair">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks if this user has Friend on their friends list.</wsdl:documentation>
      <wsdl:input message="tns:FriendsCheckFriendPairSoapIn" />
      <wsdl:output message="tns:FriendsCheckFriendPairSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsAdd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a friend to this user's friend list.</wsdl:documentation>
      <wsdl:input message="tns:FriendsAddSoapIn" />
      <wsdl:output message="tns:FriendsAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsRemove">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Removes a friend from this user's friend list.</wsdl:documentation>
      <wsdl:input message="tns:FriendsRemoveSoapIn" />
      <wsdl:output message="tns:FriendsRemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsSearchUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for Omni users by username, email, display name, or description.</wsdl:documentation>
      <wsdl:input message="tns:FriendsSearchUsersSoapIn" />
      <wsdl:output message="tns:FriendsSearchUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendsGetIntroduced">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get introduced to other Omni users (by a specific lang, and common interests).</wsdl:documentation>
      <wsdl:input message="tns:FriendsGetIntroducedSoapIn" />
      <wsdl:output message="tns:FriendsGetIntroducedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all interests in the system.</wsdl:documentation>
      <wsdl:input message="tns:InterestListSoapIn" />
      <wsdl:output message="tns:InterestListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all languages in the system.</wsdl:documentation>
      <wsdl:input message="tns:LanguageListSoapIn" />
      <wsdl:output message="tns:LanguageListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationSearch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for translations based on certain criteria.</wsdl:documentation>
      <wsdl:input message="tns:TranslationSearchSoapIn" />
      <wsdl:output message="tns:TranslationSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationGetUnapprovedForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all unapproved translations for the current user.</wsdl:documentation>
      <wsdl:input message="tns:TranslationGetUnapprovedForUserSoapIn" />
      <wsdl:output message="tns:TranslationGetUnapprovedForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationGetNonPendingApprovalForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all translations owned by the current user, except those pending approval.</wsdl:documentation>
      <wsdl:input message="tns:TranslationGetNonPendingApprovalForUserSoapIn" />
      <wsdl:output message="tns:TranslationGetNonPendingApprovalForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationGetRequestsForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all open personal translation requests for a user.</wsdl:documentation>
      <wsdl:input message="tns:TranslationGetRequestsForUserSoapIn" />
      <wsdl:output message="tns:TranslationGetRequestsForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationFindGlobalRequestsForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find global translation requests for a user (based on their languages).</wsdl:documentation>
      <wsdl:input message="tns:TranslationFindGlobalRequestsForUserSoapIn" />
      <wsdl:output message="tns:TranslationFindGlobalRequestsForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationRequestGetById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a translation request by ID.</wsdl:documentation>
      <wsdl:input message="tns:TranslationRequestGetByIdSoapIn" />
      <wsdl:output message="tns:TranslationRequestGetByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationAnswersGetByReqId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all translation answers for a Request ID.</wsdl:documentation>
      <wsdl:input message="tns:TranslationAnswersGetByReqIdSoapIn" />
      <wsdl:output message="tns:TranslationAnswersGetByReqIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationRequestAdd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Request a translation from other users.</wsdl:documentation>
      <wsdl:input message="tns:TranslationRequestAddSoapIn" />
      <wsdl:output message="tns:TranslationRequestAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationAnswerAdd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Answer a translation request.</wsdl:documentation>
      <wsdl:input message="tns:TranslationAnswerAddSoapIn" />
      <wsdl:output message="tns:TranslationAnswerAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationAnswerRate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Rate a translation answer.</wsdl:documentation>
      <wsdl:input message="tns:TranslationAnswerRateSoapIn" />
      <wsdl:output message="tns:TranslationAnswerRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationRequestClose">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Close a translation request (opened by the current user) by approving a specific answer.</wsdl:documentation>
      <wsdl:input message="tns:TranslationRequestCloseSoapIn" />
      <wsdl:output message="tns:TranslationRequestCloseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageGetReceivedForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get received messages for a user.</wsdl:documentation>
      <wsdl:input message="tns:MessageGetReceivedForUserSoapIn" />
      <wsdl:output message="tns:MessageGetReceivedForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageGetById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a message by ID.</wsdl:documentation>
      <wsdl:input message="tns:MessageGetByIdSoapIn" />
      <wsdl:output message="tns:MessageGetByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageGetSentForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get received messages for a user.</wsdl:documentation>
      <wsdl:input message="tns:MessageGetSentForUserSoapIn" />
      <wsdl:output message="tns:MessageGetSentForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageSend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a message to an Omni member.</wsdl:documentation>
      <wsdl:input message="tns:MessageSendSoapIn" />
      <wsdl:output message="tns:MessageSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HallOfFameByQuantity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the users in the Hall of Fame, for Most Active.</wsdl:documentation>
      <wsdl:input message="tns:HallOfFameByQuantitySoapIn" />
      <wsdl:output message="tns:HallOfFameByQuantitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HallOfFameByRating">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the users in the Hall of Fame by highest User Score.</wsdl:documentation>
      <wsdl:input message="tns:HallOfFameByRatingSoapIn" />
      <wsdl:output message="tns:HallOfFameByRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DefinitionLookup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Dictionary definition lookup service. (PUBLIC / SESSIONLESS)</wsdl:documentation>
      <wsdl:input message="tns:DefinitionLookupSoapIn" />
      <wsdl:output message="tns:DefinitionLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Translate a message automatically. (PUBLIC / SESSIONLESS)</wsdl:documentation>
      <wsdl:input message="tns:TranslationLookupSoapIn" />
      <wsdl:output message="tns:TranslationLookupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OmniServiceSoap" type="tns:OmniServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SessionNew">
      <soap:operation soapAction="http://service.omniproject.org/SessionNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionExists">
      <soap:operation soapAction="http://service.omniproject.org/SessionExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionAbandon">
      <soap:operation soapAction="http://service.omniproject.org/SessionAbandon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionKeepAlive">
      <soap:operation soapAction="http://service.omniproject.org/SessionKeepAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetCaptcha">
      <soap:operation soapAction="http://service.omniproject.org/UserGetCaptcha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap:operation soapAction="http://service.omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://service.omniproject.org/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <soap:operation soapAction="http://service.omniproject.org/UserLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap:operation soapAction="http://service.omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdate">
      <soap:operation soapAction="http://service.omniproject.org/UserUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdateInterests">
      <soap:operation soapAction="http://service.omniproject.org/UserUpdateInterests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdateLanguages">
      <soap:operation soapAction="http://service.omniproject.org/UserUpdateLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <soap:operation soapAction="http://service.omniproject.org/UserCurrent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterests">
      <soap:operation soapAction="http://service.omniproject.org/UserInterests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserProfile">
      <soap:operation soapAction="http://service.omniproject.org/UserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguages">
      <soap:operation soapAction="http://service.omniproject.org/UserLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSummary">
      <soap:operation soapAction="http://service.omniproject.org/UserSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsList">
      <soap:operation soapAction="http://service.omniproject.org/FriendsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsCheckFriendPair">
      <soap:operation soapAction="http://service.omniproject.org/FriendsCheckFriendPair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsAdd">
      <soap:operation soapAction="http://service.omniproject.org/FriendsAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsRemove">
      <soap:operation soapAction="http://service.omniproject.org/FriendsRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsSearchUsers">
      <soap:operation soapAction="http://service.omniproject.org/FriendsSearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsGetIntroduced">
      <soap:operation soapAction="http://service.omniproject.org/FriendsGetIntroduced" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <soap:operation soapAction="http://service.omniproject.org/InterestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <soap:operation soapAction="http://service.omniproject.org/LanguageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationSearch">
      <soap:operation soapAction="http://service.omniproject.org/TranslationSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationGetUnapprovedForUser">
      <soap:operation soapAction="http://service.omniproject.org/TranslationGetUnapprovedForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationGetNonPendingApprovalForUser">
      <soap:operation soapAction="http://service.omniproject.org/TranslationGetNonPendingApprovalForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationGetRequestsForUser">
      <soap:operation soapAction="http://service.omniproject.org/TranslationGetRequestsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationFindGlobalRequestsForUser">
      <soap:operation soapAction="http://service.omniproject.org/TranslationFindGlobalRequestsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationRequestGetById">
      <soap:operation soapAction="http://service.omniproject.org/TranslationRequestGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationAnswersGetByReqId">
      <soap:operation soapAction="http://service.omniproject.org/TranslationAnswersGetByReqId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationRequestAdd">
      <soap:operation soapAction="http://service.omniproject.org/TranslationRequestAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationAnswerAdd">
      <soap:operation soapAction="http://service.omniproject.org/TranslationAnswerAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationAnswerRate">
      <soap:operation soapAction="http://service.omniproject.org/TranslationAnswerRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationRequestClose">
      <soap:operation soapAction="http://service.omniproject.org/TranslationRequestClose" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageGetReceivedForUser">
      <soap:operation soapAction="http://service.omniproject.org/MessageGetReceivedForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageGetById">
      <soap:operation soapAction="http://service.omniproject.org/MessageGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageGetSentForUser">
      <soap:operation soapAction="http://service.omniproject.org/MessageGetSentForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageSend">
      <soap:operation soapAction="http://service.omniproject.org/MessageSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HallOfFameByQuantity">
      <soap:operation soapAction="http://service.omniproject.org/HallOfFameByQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HallOfFameByRating">
      <soap:operation soapAction="http://service.omniproject.org/HallOfFameByRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefinitionLookup">
      <soap:operation soapAction="http://service.omniproject.org/DefinitionLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap:operation soapAction="http://service.omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OmniServiceSoap12" type="tns:OmniServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SessionNew">
      <soap12:operation soapAction="http://service.omniproject.org/SessionNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionExists">
      <soap12:operation soapAction="http://service.omniproject.org/SessionExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionAbandon">
      <soap12:operation soapAction="http://service.omniproject.org/SessionAbandon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionKeepAlive">
      <soap12:operation soapAction="http://service.omniproject.org/SessionKeepAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetCaptcha">
      <soap12:operation soapAction="http://service.omniproject.org/UserGetCaptcha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap12:operation soapAction="http://service.omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://service.omniproject.org/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <soap12:operation soapAction="http://service.omniproject.org/UserLogout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap12:operation soapAction="http://service.omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdate">
      <soap12:operation soapAction="http://service.omniproject.org/UserUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdateInterests">
      <soap12:operation soapAction="http://service.omniproject.org/UserUpdateInterests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdateLanguages">
      <soap12:operation soapAction="http://service.omniproject.org/UserUpdateLanguages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <soap12:operation soapAction="http://service.omniproject.org/UserCurrent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterests">
      <soap12:operation soapAction="http://service.omniproject.org/UserInterests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserProfile">
      <soap12:operation soapAction="http://service.omniproject.org/UserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguages">
      <soap12:operation soapAction="http://service.omniproject.org/UserLanguages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSummary">
      <soap12:operation soapAction="http://service.omniproject.org/UserSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsList">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsCheckFriendPair">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsCheckFriendPair" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsAdd">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsRemove">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsSearchUsers">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsSearchUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendsGetIntroduced">
      <soap12:operation soapAction="http://service.omniproject.org/FriendsGetIntroduced" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <soap12:operation soapAction="http://service.omniproject.org/InterestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <soap12:operation soapAction="http://service.omniproject.org/LanguageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationSearch">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationGetUnapprovedForUser">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationGetUnapprovedForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationGetNonPendingApprovalForUser">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationGetNonPendingApprovalForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationGetRequestsForUser">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationGetRequestsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationFindGlobalRequestsForUser">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationFindGlobalRequestsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationRequestGetById">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationRequestGetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationAnswersGetByReqId">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationAnswersGetByReqId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationRequestAdd">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationRequestAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationAnswerAdd">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationAnswerAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationAnswerRate">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationAnswerRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationRequestClose">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationRequestClose" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageGetReceivedForUser">
      <soap12:operation soapAction="http://service.omniproject.org/MessageGetReceivedForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageGetById">
      <soap12:operation soapAction="http://service.omniproject.org/MessageGetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageGetSentForUser">
      <soap12:operation soapAction="http://service.omniproject.org/MessageGetSentForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageSend">
      <soap12:operation soapAction="http://service.omniproject.org/MessageSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HallOfFameByQuantity">
      <soap12:operation soapAction="http://service.omniproject.org/HallOfFameByQuantity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HallOfFameByRating">
      <soap12:operation soapAction="http://service.omniproject.org/HallOfFameByRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefinitionLookup">
      <soap12:operation soapAction="http://service.omniproject.org/DefinitionLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap12:operation soapAction="http://service.omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OmniService">
    <wsdl:port name="OmniServiceSoap" binding="tns:OmniServiceSoap">
      <soap:address location="http://localhost/service/omniservice.asmx" />
    </wsdl:port>
    <wsdl:port name="OmniServiceSoap12" binding="tns:OmniServiceSoap12">
      <soap12:address location="http://localhost/service/omniservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>