Omni/Omni.Web/Web References/org.omniproject.service/PublicWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://omniproject.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://omniproject.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://omniproject.org/">
      <s:element name="DictionaryLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LanguageID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DictionaryLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DictionaryLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrigLanguage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SearchLanguage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DictionaryLookupSoapIn">
    <wsdl:part name="parameters" element="tns:DictionaryLookup" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupSoapOut">
    <wsdl:part name="parameters" element="tns:DictionaryLookupResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationLookup" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationLookupResponse" />
  </wsdl:message>
  <wsdl:portType name="PublicWebServiceSoap">
    <wsdl:operation name="DictionaryLookup">
      <wsdl:input message="tns:DictionaryLookupSoapIn" />
      <wsdl:output message="tns:DictionaryLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <wsdl:input message="tns:TranslationLookupSoapIn" />
      <wsdl:output message="tns:TranslationLookupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PublicWebServiceSoap" type="tns:PublicWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DictionaryLookup">
      <soap:operation soapAction="http://omniproject.org/DictionaryLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap:operation soapAction="http://omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PublicWebServiceSoap12" type="tns:PublicWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DictionaryLookup">
      <soap12:operation soapAction="http://omniproject.org/DictionaryLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap12:operation soapAction="http://omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicWebService">
    <wsdl:port name="PublicWebServiceSoap" binding="tns:PublicWebServiceSoap">
      <soap:address location="http://omniproject.org/Service/PublicWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PublicWebServiceSoap12" binding="tns:PublicWebServiceSoap12">
      <soap12:address location="http://omniproject.org/Service/PublicWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>