Omni/Omni.Web/Web References/org.omniproject.secure/ProtectedWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://omniproject.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://omniproject.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://omniproject.org/">
      <s:element name="GetCurrentUser">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentUserResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserCaptcha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bgColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frontColor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCaptchaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCaptchaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIsLoggedIn">
        <s:complexType />
      </s:element>
      <s:element name="UserIsLoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserIsLoggedInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentUser" />
  </wsdl:message>
  <wsdl:message name="GetCurrentUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentUserResponse" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaSoapIn">
    <wsdl:part name="parameters" element="tns:UserCaptcha" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaSoapOut">
    <wsdl:part name="parameters" element="tns:UserCaptchaResponse" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:UserRegister" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:UserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:UserIsLoggedIn" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:UserIsLoggedInResponse" />
  </wsdl:message>
  <wsdl:portType name="ProtectedWebServiceSoap">
    <wsdl:operation name="GetCurrentUser">
      <wsdl:input message="tns:GetCurrentUserSoapIn" />
      <wsdl:output message="tns:GetCurrentUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <wsdl:input message="tns:UserCaptchaSoapIn" />
      <wsdl:output message="tns:UserCaptchaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterSoapIn" />
      <wsdl:output message="tns:UserRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <wsdl:input message="tns:UserIsLoggedInSoapIn" />
      <wsdl:output message="tns:UserIsLoggedInSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProtectedWebServiceSoap" type="tns:ProtectedWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentUser">
      <soap:operation soapAction="http://omniproject.org/GetCurrentUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <soap:operation soapAction="http://omniproject.org/UserCaptcha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap:operation soapAction="http://omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://omniproject.org/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap:operation soapAction="http://omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProtectedWebServiceSoap12" type="tns:ProtectedWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentUser">
      <soap12:operation soapAction="http://omniproject.org/GetCurrentUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <soap12:operation soapAction="http://omniproject.org/UserCaptcha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap12:operation soapAction="http://omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://omniproject.org/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap12:operation soapAction="http://omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtectedWebService">
    <wsdl:port name="ProtectedWebServiceSoap" binding="tns:ProtectedWebServiceSoap">
      <soap:address location="http://omniproject.org/Service/ProtectedWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProtectedWebServiceSoap12" binding="tns:ProtectedWebServiceSoap12">
      <soap12:address location="http://omniproject.org/Service/ProtectedWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>