Omni/Omni.Web/Web References/org.omniproject/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://omniproject.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://omniproject.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://omniproject.org/">
      <s:element name="Initialize">
        <s:complexType />
      </s:element>
      <s:element name="InitializeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserCaptcha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bgColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frontColor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCaptchaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCaptchaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuthorizeByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuthorizeByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserAuthorizeByUsernameResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="reg_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="log_date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserIsLoggedIn">
        <s:complexType />
      </s:element>
      <s:element name="UserIsLoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserIsLoggedInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogout">
        <s:complexType />
      </s:element>
      <s:element name="UserLogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserCurrent">
        <s:complexType />
      </s:element>
      <s:element name="UserCurrentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCurrentResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DictionaryLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LanguageID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DictionaryLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DictionaryLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrigLanguage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SearchLanguage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanguageList">
        <s:complexType />
      </s:element>
      <s:element name="LanguageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LanguageListResult" type="tns:ArrayOfLanguage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLanguage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="tns:Language" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Language">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LanguageNameQueryById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_lang_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanguageNameQueryByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LanguageNameQueryByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterestList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterestListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InterestListResult" type="tns:ArrayOfInterest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInterest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Interest" nillable="true" type="tns:Interest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Interest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InterestNameQueryById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="interest_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterestNameQueryByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InterestNameQueryByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="int" type="s:int" />
      <s:element name="User" nillable="true" type="tns:User" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfLanguage" nillable="true" type="tns:ArrayOfLanguage" />
      <s:element name="ArrayOfInterest" nillable="true" type="tns:ArrayOfInterest" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitializeSoapIn">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="InitializeSoapOut">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaSoapIn">
    <wsdl:part name="parameters" element="tns:UserCaptcha" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaSoapOut">
    <wsdl:part name="parameters" element="tns:UserCaptchaResponse" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:UserRegister" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:UserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:UserAuthorizeByUsername" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:UserAuthorizeByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:UserIsLoggedIn" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:UserIsLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="UserLogoutSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogout" />
  </wsdl:message>
  <wsdl:message name="UserLogoutSoapOut">
    <wsdl:part name="parameters" element="tns:UserLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="UserCurrentSoapIn">
    <wsdl:part name="parameters" element="tns:UserCurrent" />
  </wsdl:message>
  <wsdl:message name="UserCurrentSoapOut">
    <wsdl:part name="parameters" element="tns:UserCurrentResponse" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupSoapIn">
    <wsdl:part name="parameters" element="tns:DictionaryLookup" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupSoapOut">
    <wsdl:part name="parameters" element="tns:DictionaryLookupResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationLookup" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationLookupResponse" />
  </wsdl:message>
  <wsdl:message name="LanguageListSoapIn">
    <wsdl:part name="parameters" element="tns:LanguageList" />
  </wsdl:message>
  <wsdl:message name="LanguageListSoapOut">
    <wsdl:part name="parameters" element="tns:LanguageListResponse" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdSoapIn">
    <wsdl:part name="parameters" element="tns:LanguageNameQueryById" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdSoapOut">
    <wsdl:part name="parameters" element="tns:LanguageNameQueryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InterestListSoapIn">
    <wsdl:part name="parameters" element="tns:InterestList" />
  </wsdl:message>
  <wsdl:message name="InterestListSoapOut">
    <wsdl:part name="parameters" element="tns:InterestListResponse" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdSoapIn">
    <wsdl:part name="parameters" element="tns:InterestNameQueryById" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdSoapOut">
    <wsdl:part name="parameters" element="tns:InterestNameQueryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InitializeHttpGetIn" />
  <wsdl:message name="InitializeHttpGetOut" />
  <wsdl:message name="UserCaptchaHttpGetIn">
    <wsdl:part name="width" type="s:string" />
    <wsdl:part name="height" type="s:string" />
    <wsdl:part name="bgColor" type="s:string" />
    <wsdl:part name="frontColor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="md5password" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="captcha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="md5password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameHttpGetOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInHttpGetIn" />
  <wsdl:message name="UserIsLoggedInHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UserLogoutHttpGetIn" />
  <wsdl:message name="UserLogoutHttpGetOut" />
  <wsdl:message name="UserCurrentHttpGetIn" />
  <wsdl:message name="UserCurrentHttpGetOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupHttpGetIn">
    <wsdl:part name="LanguageID" type="s:string" />
    <wsdl:part name="SearchWord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupHttpGetIn">
    <wsdl:part name="OrigLanguage" type="s:string" />
    <wsdl:part name="SearchLanguage" type="s:string" />
    <wsdl:part name="SearchWord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LanguageListHttpGetIn" />
  <wsdl:message name="LanguageListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLanguage" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdHttpGetIn">
    <wsdl:part name="lang_id" type="s:string" />
    <wsdl:part name="dst_lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InterestListHttpGetIn">
    <wsdl:part name="parent_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InterestListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfInterest" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdHttpGetIn">
    <wsdl:part name="interest_id" type="s:string" />
    <wsdl:part name="lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InitializeHttpPostIn" />
  <wsdl:message name="InitializeHttpPostOut" />
  <wsdl:message name="UserCaptchaHttpPostIn">
    <wsdl:part name="width" type="s:string" />
    <wsdl:part name="height" type="s:string" />
    <wsdl:part name="bgColor" type="s:string" />
    <wsdl:part name="frontColor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="md5password" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="captcha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="md5password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameHttpPostOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInHttpPostIn" />
  <wsdl:message name="UserIsLoggedInHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UserLogoutHttpPostIn" />
  <wsdl:message name="UserLogoutHttpPostOut" />
  <wsdl:message name="UserCurrentHttpPostIn" />
  <wsdl:message name="UserCurrentHttpPostOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupHttpPostIn">
    <wsdl:part name="LanguageID" type="s:string" />
    <wsdl:part name="SearchWord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupHttpPostIn">
    <wsdl:part name="OrigLanguage" type="s:string" />
    <wsdl:part name="SearchLanguage" type="s:string" />
    <wsdl:part name="SearchWord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LanguageListHttpPostIn" />
  <wsdl:message name="LanguageListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLanguage" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdHttpPostIn">
    <wsdl:part name="lang_id" type="s:string" />
    <wsdl:part name="dst_lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InterestListHttpPostIn">
    <wsdl:part name="parent_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InterestListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInterest" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdHttpPostIn">
    <wsdl:part name="interest_id" type="s:string" />
    <wsdl:part name="lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Initialize">
      <wsdl:input message="tns:InitializeSoapIn" />
      <wsdl:output message="tns:InitializeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <wsdl:input message="tns:UserCaptchaSoapIn" />
      <wsdl:output message="tns:UserCaptchaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterSoapIn" />
      <wsdl:output message="tns:UserRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <wsdl:input message="tns:UserAuthorizeByUsernameSoapIn" />
      <wsdl:output message="tns:UserAuthorizeByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <wsdl:input message="tns:UserIsLoggedInSoapIn" />
      <wsdl:output message="tns:UserIsLoggedInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <wsdl:input message="tns:UserLogoutSoapIn" />
      <wsdl:output message="tns:UserLogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <wsdl:input message="tns:UserCurrentSoapIn" />
      <wsdl:output message="tns:UserCurrentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <wsdl:input message="tns:DictionaryLookupSoapIn" />
      <wsdl:output message="tns:DictionaryLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <wsdl:input message="tns:TranslationLookupSoapIn" />
      <wsdl:output message="tns:TranslationLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <wsdl:input message="tns:LanguageListSoapIn" />
      <wsdl:output message="tns:LanguageListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <wsdl:input message="tns:LanguageNameQueryByIdSoapIn" />
      <wsdl:output message="tns:LanguageNameQueryByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <wsdl:input message="tns:InterestListSoapIn" />
      <wsdl:output message="tns:InterestListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <wsdl:input message="tns:InterestNameQueryByIdSoapIn" />
      <wsdl:output message="tns:InterestNameQueryByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="Initialize">
      <wsdl:input message="tns:InitializeHttpGetIn" />
      <wsdl:output message="tns:InitializeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <wsdl:input message="tns:UserCaptchaHttpGetIn" />
      <wsdl:output message="tns:UserCaptchaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterHttpGetIn" />
      <wsdl:output message="tns:UserRegisterHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <wsdl:input message="tns:UserAuthorizeByUsernameHttpGetIn" />
      <wsdl:output message="tns:UserAuthorizeByUsernameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <wsdl:input message="tns:UserIsLoggedInHttpGetIn" />
      <wsdl:output message="tns:UserIsLoggedInHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <wsdl:input message="tns:UserLogoutHttpGetIn" />
      <wsdl:output message="tns:UserLogoutHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <wsdl:input message="tns:UserCurrentHttpGetIn" />
      <wsdl:output message="tns:UserCurrentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <wsdl:input message="tns:DictionaryLookupHttpGetIn" />
      <wsdl:output message="tns:DictionaryLookupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <wsdl:input message="tns:TranslationLookupHttpGetIn" />
      <wsdl:output message="tns:TranslationLookupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <wsdl:input message="tns:LanguageListHttpGetIn" />
      <wsdl:output message="tns:LanguageListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <wsdl:input message="tns:LanguageNameQueryByIdHttpGetIn" />
      <wsdl:output message="tns:LanguageNameQueryByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <wsdl:input message="tns:InterestListHttpGetIn" />
      <wsdl:output message="tns:InterestListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <wsdl:input message="tns:InterestNameQueryByIdHttpGetIn" />
      <wsdl:output message="tns:InterestNameQueryByIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="Initialize">
      <wsdl:input message="tns:InitializeHttpPostIn" />
      <wsdl:output message="tns:InitializeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <wsdl:input message="tns:UserCaptchaHttpPostIn" />
      <wsdl:output message="tns:UserCaptchaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterHttpPostIn" />
      <wsdl:output message="tns:UserRegisterHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <wsdl:input message="tns:UserAuthorizeByUsernameHttpPostIn" />
      <wsdl:output message="tns:UserAuthorizeByUsernameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <wsdl:input message="tns:UserIsLoggedInHttpPostIn" />
      <wsdl:output message="tns:UserIsLoggedInHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <wsdl:input message="tns:UserLogoutHttpPostIn" />
      <wsdl:output message="tns:UserLogoutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <wsdl:input message="tns:UserCurrentHttpPostIn" />
      <wsdl:output message="tns:UserCurrentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <wsdl:input message="tns:DictionaryLookupHttpPostIn" />
      <wsdl:output message="tns:DictionaryLookupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <wsdl:input message="tns:TranslationLookupHttpPostIn" />
      <wsdl:output message="tns:TranslationLookupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <wsdl:input message="tns:LanguageListHttpPostIn" />
      <wsdl:output message="tns:LanguageListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <wsdl:input message="tns:LanguageNameQueryByIdHttpPostIn" />
      <wsdl:output message="tns:LanguageNameQueryByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <wsdl:input message="tns:InterestListHttpPostIn" />
      <wsdl:output message="tns:InterestListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <wsdl:input message="tns:InterestNameQueryByIdHttpPostIn" />
      <wsdl:output message="tns:InterestNameQueryByIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://omniproject.org/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <soap:operation soapAction="http://omniproject.org/UserCaptcha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap:operation soapAction="http://omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <soap:operation soapAction="http://omniproject.org/UserAuthorizeByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap:operation soapAction="http://omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <soap:operation soapAction="http://omniproject.org/UserLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <soap:operation soapAction="http://omniproject.org/UserCurrent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <soap:operation soapAction="http://omniproject.org/DictionaryLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap:operation soapAction="http://omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <soap:operation soapAction="http://omniproject.org/LanguageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <soap:operation soapAction="http://omniproject.org/LanguageNameQueryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <soap:operation soapAction="http://omniproject.org/InterestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <soap:operation soapAction="http://omniproject.org/InterestNameQueryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap12:operation soapAction="http://omniproject.org/Initialize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <soap12:operation soapAction="http://omniproject.org/UserCaptcha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap12:operation soapAction="http://omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <soap12:operation soapAction="http://omniproject.org/UserAuthorizeByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap12:operation soapAction="http://omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <soap12:operation soapAction="http://omniproject.org/UserLogout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <soap12:operation soapAction="http://omniproject.org/UserCurrent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <soap12:operation soapAction="http://omniproject.org/DictionaryLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap12:operation soapAction="http://omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <soap12:operation soapAction="http://omniproject.org/LanguageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <soap12:operation soapAction="http://omniproject.org/LanguageNameQueryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <soap12:operation soapAction="http://omniproject.org/InterestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <soap12:operation soapAction="http://omniproject.org/InterestNameQueryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Initialize">
      <http:operation location="/Initialize" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <http:operation location="/UserCaptcha" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <http:operation location="/UserRegister" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <http:operation location="/UserAuthorizeByUsername" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <http:operation location="/UserIsLoggedIn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <http:operation location="/UserLogout" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <http:operation location="/UserCurrent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <http:operation location="/DictionaryLookup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <http:operation location="/TranslationLookup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <http:operation location="/LanguageList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <http:operation location="/LanguageNameQueryById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <http:operation location="/InterestList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <http:operation location="/InterestNameQueryById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Initialize">
      <http:operation location="/Initialize" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <http:operation location="/UserCaptcha" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <http:operation location="/UserRegister" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <http:operation location="/UserAuthorizeByUsername" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <http:operation location="/UserIsLoggedIn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <http:operation location="/UserLogout" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <http:operation location="/UserCurrent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <http:operation location="/DictionaryLookup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <http:operation location="/TranslationLookup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <http:operation location="/LanguageList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <http:operation location="/LanguageNameQueryById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <http:operation location="/InterestList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <http:operation location="/InterestNameQueryById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://omniproject.org/Service/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://omniproject.org/Service/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://omniproject.org/Service/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://omniproject.org/Service/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>