Omni/Omni.Web/Web References/org.omniproject/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://omniproject.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://omniproject.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://omniproject.org/">
      <s:element name="Initialize">
        <s:complexType />
      </s:element>
      <s:element name="InitializeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserCaptcha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bgColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frontColor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCaptchaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCaptchaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIsLoggedIn">
        <s:complexType />
      </s:element>
      <s:element name="UserIsLoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserIsLoggedInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DictionaryLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LanguageID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DictionaryLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DictionaryLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrigLanguage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SearchLanguage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanguageList">
        <s:complexType />
      </s:element>
      <s:element name="LanguageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LanguageListResult" type="tns:ArrayOfLanguage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLanguage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Language" type="tns:Language" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Language">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LanuageNameQueryById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_lang_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanuageNameQueryByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LanuageNameQueryByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitializeSoapIn">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="InitializeSoapOut">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaSoapIn">
    <wsdl:part name="parameters" element="tns:UserCaptcha" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaSoapOut">
    <wsdl:part name="parameters" element="tns:UserCaptchaResponse" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:UserRegister" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:UserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:UserIsLoggedIn" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:UserIsLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupSoapIn">
    <wsdl:part name="parameters" element="tns:DictionaryLookup" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupSoapOut">
    <wsdl:part name="parameters" element="tns:DictionaryLookupResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationLookup" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationLookupResponse" />
  </wsdl:message>
  <wsdl:message name="LanguageListSoapIn">
    <wsdl:part name="parameters" element="tns:LanguageList" />
  </wsdl:message>
  <wsdl:message name="LanguageListSoapOut">
    <wsdl:part name="parameters" element="tns:LanguageListResponse" />
  </wsdl:message>
  <wsdl:message name="LanuageNameQueryByIdSoapIn">
    <wsdl:part name="parameters" element="tns:LanuageNameQueryById" />
  </wsdl:message>
  <wsdl:message name="LanuageNameQueryByIdSoapOut">
    <wsdl:part name="parameters" element="tns:LanuageNameQueryByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Initialize">
      <wsdl:input message="tns:InitializeSoapIn" />
      <wsdl:output message="tns:InitializeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <wsdl:input message="tns:UserCaptchaSoapIn" />
      <wsdl:output message="tns:UserCaptchaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterSoapIn" />
      <wsdl:output message="tns:UserRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <wsdl:input message="tns:UserIsLoggedInSoapIn" />
      <wsdl:output message="tns:UserIsLoggedInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <wsdl:input message="tns:DictionaryLookupSoapIn" />
      <wsdl:output message="tns:DictionaryLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <wsdl:input message="tns:TranslationLookupSoapIn" />
      <wsdl:output message="tns:TranslationLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <wsdl:input message="tns:LanguageListSoapIn" />
      <wsdl:output message="tns:LanguageListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LanuageNameQueryById">
      <wsdl:input message="tns:LanuageNameQueryByIdSoapIn" />
      <wsdl:output message="tns:LanuageNameQueryByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://omniproject.org/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <soap:operation soapAction="http://omniproject.org/UserCaptcha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap:operation soapAction="http://omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://omniproject.org/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap:operation soapAction="http://omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <soap:operation soapAction="http://omniproject.org/DictionaryLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap:operation soapAction="http://omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <soap:operation soapAction="http://omniproject.org/LanguageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanuageNameQueryById">
      <soap:operation soapAction="http://omniproject.org/LanuageNameQueryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap12:operation soapAction="http://omniproject.org/Initialize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <soap12:operation soapAction="http://omniproject.org/UserCaptcha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap12:operation soapAction="http://omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://omniproject.org/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap12:operation soapAction="http://omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <soap12:operation soapAction="http://omniproject.org/DictionaryLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap12:operation soapAction="http://omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <soap12:operation soapAction="http://omniproject.org/LanguageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanuageNameQueryById">
      <soap12:operation soapAction="http://omniproject.org/LanuageNameQueryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://omniproject.org/Service/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://omniproject.org/Service/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>