Omni/Omni.Web/Web References/org.omniproject/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://omniproject.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://omniproject.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://omniproject.org/">
      <s:element name="Initialize">
        <s:complexType />
      </s:element>
      <s:element name="InitializeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserCaptcha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bgColor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="frontColor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCaptchaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCaptchaResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuthorizeByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuthorizeByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserAuthorizeByUsernameResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="reg_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="log_date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserIsLoggedIn">
        <s:complexType />
      </s:element>
      <s:element name="UserIsLoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserIsLoggedInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogout">
        <s:complexType />
      </s:element>
      <s:element name="UserLogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserCurrent">
        <s:complexType />
      </s:element>
      <s:element name="UserCurrentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserCurrentResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdateById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdateByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserGetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserGetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserGetByIdResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserPasswordUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldmd5password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newmd5password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserPasswordUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserPasswordUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIdGetByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIdGetByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserIdGetByUsernameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DictionaryLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LanguageID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DictionaryLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DictionaryLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrigLanguage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SearchLanguage" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslationLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslationLookupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanguageList">
        <s:complexType />
      </s:element>
      <s:element name="LanguageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LanguageListResult" type="tns:ArrayOfLanguage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLanguage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="tns:Language" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Language">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LanguageNameQueryById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_lang_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanguageNameQueryByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LanguageNameQueryByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLanguageListById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLanguageListByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLanguageListByIdResult" type="tns:ArrayOfUserLanguage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserLanguage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserLanguage" nillable="true" type="tns:UserLanguage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserLanguage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="net_rating" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="self_rating" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserLanguageSetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="self_rating" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLanguageSetByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserLanguageDeleteById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLanguageDeleteByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="InterestList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterestListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InterestListResult" type="tns:ArrayOfInterest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInterest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Interest" nillable="true" type="tns:Interest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Interest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InterestLangList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parent_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterestLangListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InterestLangListResult" type="tns:ArrayOfInterest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterestNameQueryById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="interest_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lang_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InterestNameQueryByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InterestNameQueryByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInterestList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInterestListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInterestListResult" type="tns:ArrayOfInterest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInterestAddById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="interest_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInterestAddByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserInterestDeleteById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="interest_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInterestDeleteByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="TransAnsRateById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="trans_ans_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransAnsRateByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="MessageSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_type" type="tns:MessageDestinationType" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="MessageDestinationType">
        <s:restriction base="s:string">
          <s:enumeration value="User" />
          <s:enumeration value="Group" />
        </s:restriction>
      </s:simpleType>
      <s:element name="MessageSendResponse">
        <s:complexType />
      </s:element>
      <s:element name="MessageRecvByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dst_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dst_type" type="tns:MessageDestinationType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageRecvByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageRecvByUserResult" type="tns:ArrayOfMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="src_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dst_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="unread" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="dst_type" type="tns:MessageDestinationType" />
        </s:sequence>
      </s:complexType>
      <s:element name="MessageSentByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageSentByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageSentByUserResult" type="tns:ArrayOfMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageGetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="msg_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageGetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageGetByIdResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="int" type="s:int" />
      <s:element name="User" nillable="true" type="tns:User" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfLanguage" nillable="true" type="tns:ArrayOfLanguage" />
      <s:element name="ArrayOfUserLanguage" nillable="true" type="tns:ArrayOfUserLanguage" />
      <s:element name="ArrayOfInterest" nillable="true" type="tns:ArrayOfInterest" />
      <s:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
      <s:element name="Message" nillable="true" type="tns:Message" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitializeSoapIn">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="InitializeSoapOut">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaSoapIn">
    <wsdl:part name="parameters" element="tns:UserCaptcha" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaSoapOut">
    <wsdl:part name="parameters" element="tns:UserCaptchaResponse" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:UserRegister" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:UserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:UserAuthorizeByUsername" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:UserAuthorizeByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:UserIsLoggedIn" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:UserIsLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="UserLogoutSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogout" />
  </wsdl:message>
  <wsdl:message name="UserLogoutSoapOut">
    <wsdl:part name="parameters" element="tns:UserLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="UserCurrentSoapIn">
    <wsdl:part name="parameters" element="tns:UserCurrent" />
  </wsdl:message>
  <wsdl:message name="UserCurrentSoapOut">
    <wsdl:part name="parameters" element="tns:UserCurrentResponse" />
  </wsdl:message>
  <wsdl:message name="UserUpdateByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UserUpdateById" />
  </wsdl:message>
  <wsdl:message name="UserUpdateByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UserUpdateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UserGetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UserGetById" />
  </wsdl:message>
  <wsdl:message name="UserGetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UserGetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UserPasswordUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:UserPasswordUpdate" />
  </wsdl:message>
  <wsdl:message name="UserPasswordUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UserPasswordUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UserIdGetByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:UserIdGetByUsername" />
  </wsdl:message>
  <wsdl:message name="UserIdGetByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:UserIdGetByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupSoapIn">
    <wsdl:part name="parameters" element="tns:DictionaryLookup" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupSoapOut">
    <wsdl:part name="parameters" element="tns:DictionaryLookupResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapIn">
    <wsdl:part name="parameters" element="tns:TranslationLookup" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupSoapOut">
    <wsdl:part name="parameters" element="tns:TranslationLookupResponse" />
  </wsdl:message>
  <wsdl:message name="LanguageListSoapIn">
    <wsdl:part name="parameters" element="tns:LanguageList" />
  </wsdl:message>
  <wsdl:message name="LanguageListSoapOut">
    <wsdl:part name="parameters" element="tns:LanguageListResponse" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdSoapIn">
    <wsdl:part name="parameters" element="tns:LanguageNameQueryById" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdSoapOut">
    <wsdl:part name="parameters" element="tns:LanguageNameQueryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UserLanguageListByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UserLanguageListById" />
  </wsdl:message>
  <wsdl:message name="UserLanguageListByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UserLanguageListByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UserLanguageSetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UserLanguageSetById" />
  </wsdl:message>
  <wsdl:message name="UserLanguageSetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UserLanguageSetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UserLanguageDeleteByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UserLanguageDeleteById" />
  </wsdl:message>
  <wsdl:message name="UserLanguageDeleteByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UserLanguageDeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InterestListSoapIn">
    <wsdl:part name="parameters" element="tns:InterestList" />
  </wsdl:message>
  <wsdl:message name="InterestListSoapOut">
    <wsdl:part name="parameters" element="tns:InterestListResponse" />
  </wsdl:message>
  <wsdl:message name="InterestLangListSoapIn">
    <wsdl:part name="parameters" element="tns:InterestLangList" />
  </wsdl:message>
  <wsdl:message name="InterestLangListSoapOut">
    <wsdl:part name="parameters" element="tns:InterestLangListResponse" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdSoapIn">
    <wsdl:part name="parameters" element="tns:InterestNameQueryById" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdSoapOut">
    <wsdl:part name="parameters" element="tns:InterestNameQueryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UserInterestListSoapIn">
    <wsdl:part name="parameters" element="tns:UserInterestList" />
  </wsdl:message>
  <wsdl:message name="UserInterestListSoapOut">
    <wsdl:part name="parameters" element="tns:UserInterestListResponse" />
  </wsdl:message>
  <wsdl:message name="UserInterestAddByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UserInterestAddById" />
  </wsdl:message>
  <wsdl:message name="UserInterestAddByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UserInterestAddByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UserInterestDeleteByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UserInterestDeleteById" />
  </wsdl:message>
  <wsdl:message name="UserInterestDeleteByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UserInterestDeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="TransAnsRateByIdSoapIn">
    <wsdl:part name="parameters" element="tns:TransAnsRateById" />
  </wsdl:message>
  <wsdl:message name="TransAnsRateByIdSoapOut">
    <wsdl:part name="parameters" element="tns:TransAnsRateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="MessageSendSoapIn">
    <wsdl:part name="parameters" element="tns:MessageSend" />
  </wsdl:message>
  <wsdl:message name="MessageSendSoapOut">
    <wsdl:part name="parameters" element="tns:MessageSendResponse" />
  </wsdl:message>
  <wsdl:message name="MessageRecvByUserSoapIn">
    <wsdl:part name="parameters" element="tns:MessageRecvByUser" />
  </wsdl:message>
  <wsdl:message name="MessageRecvByUserSoapOut">
    <wsdl:part name="parameters" element="tns:MessageRecvByUserResponse" />
  </wsdl:message>
  <wsdl:message name="MessageSentByUserSoapIn">
    <wsdl:part name="parameters" element="tns:MessageSentByUser" />
  </wsdl:message>
  <wsdl:message name="MessageSentByUserSoapOut">
    <wsdl:part name="parameters" element="tns:MessageSentByUserResponse" />
  </wsdl:message>
  <wsdl:message name="MessageGetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:MessageGetById" />
  </wsdl:message>
  <wsdl:message name="MessageGetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:MessageGetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="InitializeHttpGetIn" />
  <wsdl:message name="InitializeHttpGetOut" />
  <wsdl:message name="UserCaptchaHttpGetIn">
    <wsdl:part name="width" type="s:string" />
    <wsdl:part name="height" type="s:string" />
    <wsdl:part name="bgColor" type="s:string" />
    <wsdl:part name="frontColor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="md5password" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="captcha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="md5password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameHttpGetOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInHttpGetIn" />
  <wsdl:message name="UserIsLoggedInHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UserLogoutHttpGetIn" />
  <wsdl:message name="UserLogoutHttpGetOut" />
  <wsdl:message name="UserCurrentHttpGetIn" />
  <wsdl:message name="UserCurrentHttpGetOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="UserUpdateByIdHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserUpdateByIdHttpGetOut" />
  <wsdl:message name="UserGetByIdHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserGetByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="UserPasswordUpdateHttpGetIn">
    <wsdl:part name="oldmd5password" type="s:string" />
    <wsdl:part name="newmd5password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserPasswordUpdateHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UserIdGetByUsernameHttpGetIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserIdGetByUsernameHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupHttpGetIn">
    <wsdl:part name="LanguageID" type="s:string" />
    <wsdl:part name="SearchWord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupHttpGetIn">
    <wsdl:part name="OrigLanguage" type="s:string" />
    <wsdl:part name="SearchLanguage" type="s:string" />
    <wsdl:part name="SearchWord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LanguageListHttpGetIn" />
  <wsdl:message name="LanguageListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLanguage" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdHttpGetIn">
    <wsdl:part name="lang_id" type="s:string" />
    <wsdl:part name="dst_lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserLanguageListByIdHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserLanguageListByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserLanguage" />
  </wsdl:message>
  <wsdl:message name="UserLanguageSetByIdHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="lang_id" type="s:string" />
    <wsdl:part name="self_rating" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserLanguageSetByIdHttpGetOut" />
  <wsdl:message name="UserLanguageDeleteByIdHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserLanguageDeleteByIdHttpGetOut" />
  <wsdl:message name="InterestListHttpGetIn">
    <wsdl:part name="parent_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InterestListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfInterest" />
  </wsdl:message>
  <wsdl:message name="InterestLangListHttpGetIn">
    <wsdl:part name="parent_id" type="s:string" />
    <wsdl:part name="lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InterestLangListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfInterest" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdHttpGetIn">
    <wsdl:part name="interest_id" type="s:string" />
    <wsdl:part name="lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserInterestListHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserInterestListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfInterest" />
  </wsdl:message>
  <wsdl:message name="UserInterestAddByIdHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="interest_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserInterestAddByIdHttpGetOut" />
  <wsdl:message name="UserInterestDeleteByIdHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="interest_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserInterestDeleteByIdHttpGetOut" />
  <wsdl:message name="TransAnsRateByIdHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="trans_ans_id" type="s:string" />
    <wsdl:part name="rating" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransAnsRateByIdHttpGetOut" />
  <wsdl:message name="MessageSendHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="dst_id" type="s:string" />
    <wsdl:part name="dst_type" type="s:string" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="body" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageSendHttpGetOut" />
  <wsdl:message name="MessageRecvByUserHttpGetIn">
    <wsdl:part name="dst_id" type="s:string" />
    <wsdl:part name="dst_type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageRecvByUserHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMessage" />
  </wsdl:message>
  <wsdl:message name="MessageSentByUserHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageSentByUserHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMessage" />
  </wsdl:message>
  <wsdl:message name="MessageGetByIdHttpGetIn">
    <wsdl:part name="msg_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageGetByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="InitializeHttpPostIn" />
  <wsdl:message name="InitializeHttpPostOut" />
  <wsdl:message name="UserCaptchaHttpPostIn">
    <wsdl:part name="width" type="s:string" />
    <wsdl:part name="height" type="s:string" />
    <wsdl:part name="bgColor" type="s:string" />
    <wsdl:part name="frontColor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserCaptchaHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="md5password" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
    <wsdl:part name="captcha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="md5password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserAuthorizeByUsernameHttpPostOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="UserIsLoggedInHttpPostIn" />
  <wsdl:message name="UserIsLoggedInHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UserLogoutHttpPostIn" />
  <wsdl:message name="UserLogoutHttpPostOut" />
  <wsdl:message name="UserCurrentHttpPostIn" />
  <wsdl:message name="UserCurrentHttpPostOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="UserUpdateByIdHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="description" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserUpdateByIdHttpPostOut" />
  <wsdl:message name="UserGetByIdHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserGetByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="UserPasswordUpdateHttpPostIn">
    <wsdl:part name="oldmd5password" type="s:string" />
    <wsdl:part name="newmd5password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserPasswordUpdateHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UserIdGetByUsernameHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserIdGetByUsernameHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupHttpPostIn">
    <wsdl:part name="LanguageID" type="s:string" />
    <wsdl:part name="SearchWord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DictionaryLookupHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupHttpPostIn">
    <wsdl:part name="OrigLanguage" type="s:string" />
    <wsdl:part name="SearchLanguage" type="s:string" />
    <wsdl:part name="SearchWord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslationLookupHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LanguageListHttpPostIn" />
  <wsdl:message name="LanguageListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLanguage" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdHttpPostIn">
    <wsdl:part name="lang_id" type="s:string" />
    <wsdl:part name="dst_lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LanguageNameQueryByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserLanguageListByIdHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserLanguageListByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserLanguage" />
  </wsdl:message>
  <wsdl:message name="UserLanguageSetByIdHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="lang_id" type="s:string" />
    <wsdl:part name="self_rating" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserLanguageSetByIdHttpPostOut" />
  <wsdl:message name="UserLanguageDeleteByIdHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserLanguageDeleteByIdHttpPostOut" />
  <wsdl:message name="InterestListHttpPostIn">
    <wsdl:part name="parent_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InterestListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInterest" />
  </wsdl:message>
  <wsdl:message name="InterestLangListHttpPostIn">
    <wsdl:part name="parent_id" type="s:string" />
    <wsdl:part name="lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InterestLangListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInterest" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdHttpPostIn">
    <wsdl:part name="interest_id" type="s:string" />
    <wsdl:part name="lang_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InterestNameQueryByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserInterestListHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserInterestListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInterest" />
  </wsdl:message>
  <wsdl:message name="UserInterestAddByIdHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="interest_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserInterestAddByIdHttpPostOut" />
  <wsdl:message name="UserInterestDeleteByIdHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="interest_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserInterestDeleteByIdHttpPostOut" />
  <wsdl:message name="TransAnsRateByIdHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="trans_ans_id" type="s:string" />
    <wsdl:part name="rating" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransAnsRateByIdHttpPostOut" />
  <wsdl:message name="MessageSendHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="dst_id" type="s:string" />
    <wsdl:part name="dst_type" type="s:string" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="body" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageSendHttpPostOut" />
  <wsdl:message name="MessageRecvByUserHttpPostIn">
    <wsdl:part name="dst_id" type="s:string" />
    <wsdl:part name="dst_type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageRecvByUserHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMessage" />
  </wsdl:message>
  <wsdl:message name="MessageSentByUserHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageSentByUserHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMessage" />
  </wsdl:message>
  <wsdl:message name="MessageGetByIdHttpPostIn">
    <wsdl:part name="msg_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageGetByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:Message" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Initialize">
      <wsdl:input message="tns:InitializeSoapIn" />
      <wsdl:output message="tns:InitializeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <wsdl:input message="tns:UserCaptchaSoapIn" />
      <wsdl:output message="tns:UserCaptchaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterSoapIn" />
      <wsdl:output message="tns:UserRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <wsdl:input message="tns:UserAuthorizeByUsernameSoapIn" />
      <wsdl:output message="tns:UserAuthorizeByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <wsdl:input message="tns:UserIsLoggedInSoapIn" />
      <wsdl:output message="tns:UserIsLoggedInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <wsdl:input message="tns:UserLogoutSoapIn" />
      <wsdl:output message="tns:UserLogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <wsdl:input message="tns:UserCurrentSoapIn" />
      <wsdl:output message="tns:UserCurrentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserUpdateById">
      <wsdl:input message="tns:UserUpdateByIdSoapIn" />
      <wsdl:output message="tns:UserUpdateByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserGetById">
      <wsdl:input message="tns:UserGetByIdSoapIn" />
      <wsdl:output message="tns:UserGetByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserPasswordUpdate">
      <wsdl:input message="tns:UserPasswordUpdateSoapIn" />
      <wsdl:output message="tns:UserPasswordUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIdGetByUsername">
      <wsdl:input message="tns:UserIdGetByUsernameSoapIn" />
      <wsdl:output message="tns:UserIdGetByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <wsdl:input message="tns:DictionaryLookupSoapIn" />
      <wsdl:output message="tns:DictionaryLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <wsdl:input message="tns:TranslationLookupSoapIn" />
      <wsdl:output message="tns:TranslationLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <wsdl:input message="tns:LanguageListSoapIn" />
      <wsdl:output message="tns:LanguageListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <wsdl:input message="tns:LanguageNameQueryByIdSoapIn" />
      <wsdl:output message="tns:LanguageNameQueryByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageListById">
      <wsdl:input message="tns:UserLanguageListByIdSoapIn" />
      <wsdl:output message="tns:UserLanguageListByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageSetById">
      <wsdl:input message="tns:UserLanguageSetByIdSoapIn" />
      <wsdl:output message="tns:UserLanguageSetByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageDeleteById">
      <wsdl:input message="tns:UserLanguageDeleteByIdSoapIn" />
      <wsdl:output message="tns:UserLanguageDeleteByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <wsdl:input message="tns:InterestListSoapIn" />
      <wsdl:output message="tns:InterestListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestLangList">
      <wsdl:input message="tns:InterestLangListSoapIn" />
      <wsdl:output message="tns:InterestLangListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <wsdl:input message="tns:InterestNameQueryByIdSoapIn" />
      <wsdl:output message="tns:InterestNameQueryByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterestList">
      <wsdl:input message="tns:UserInterestListSoapIn" />
      <wsdl:output message="tns:UserInterestListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterestAddById">
      <wsdl:input message="tns:UserInterestAddByIdSoapIn" />
      <wsdl:output message="tns:UserInterestAddByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterestDeleteById">
      <wsdl:input message="tns:UserInterestDeleteByIdSoapIn" />
      <wsdl:output message="tns:UserInterestDeleteByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransAnsRateById">
      <wsdl:input message="tns:TransAnsRateByIdSoapIn" />
      <wsdl:output message="tns:TransAnsRateByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageSend">
      <wsdl:input message="tns:MessageSendSoapIn" />
      <wsdl:output message="tns:MessageSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageRecvByUser">
      <wsdl:input message="tns:MessageRecvByUserSoapIn" />
      <wsdl:output message="tns:MessageRecvByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageSentByUser">
      <wsdl:input message="tns:MessageSentByUserSoapIn" />
      <wsdl:output message="tns:MessageSentByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageGetById">
      <wsdl:input message="tns:MessageGetByIdSoapIn" />
      <wsdl:output message="tns:MessageGetByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="Initialize">
      <wsdl:input message="tns:InitializeHttpGetIn" />
      <wsdl:output message="tns:InitializeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <wsdl:input message="tns:UserCaptchaHttpGetIn" />
      <wsdl:output message="tns:UserCaptchaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterHttpGetIn" />
      <wsdl:output message="tns:UserRegisterHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <wsdl:input message="tns:UserAuthorizeByUsernameHttpGetIn" />
      <wsdl:output message="tns:UserAuthorizeByUsernameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <wsdl:input message="tns:UserIsLoggedInHttpGetIn" />
      <wsdl:output message="tns:UserIsLoggedInHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <wsdl:input message="tns:UserLogoutHttpGetIn" />
      <wsdl:output message="tns:UserLogoutHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <wsdl:input message="tns:UserCurrentHttpGetIn" />
      <wsdl:output message="tns:UserCurrentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserUpdateById">
      <wsdl:input message="tns:UserUpdateByIdHttpGetIn" />
      <wsdl:output message="tns:UserUpdateByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserGetById">
      <wsdl:input message="tns:UserGetByIdHttpGetIn" />
      <wsdl:output message="tns:UserGetByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserPasswordUpdate">
      <wsdl:input message="tns:UserPasswordUpdateHttpGetIn" />
      <wsdl:output message="tns:UserPasswordUpdateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIdGetByUsername">
      <wsdl:input message="tns:UserIdGetByUsernameHttpGetIn" />
      <wsdl:output message="tns:UserIdGetByUsernameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <wsdl:input message="tns:DictionaryLookupHttpGetIn" />
      <wsdl:output message="tns:DictionaryLookupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <wsdl:input message="tns:TranslationLookupHttpGetIn" />
      <wsdl:output message="tns:TranslationLookupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <wsdl:input message="tns:LanguageListHttpGetIn" />
      <wsdl:output message="tns:LanguageListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <wsdl:input message="tns:LanguageNameQueryByIdHttpGetIn" />
      <wsdl:output message="tns:LanguageNameQueryByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageListById">
      <wsdl:input message="tns:UserLanguageListByIdHttpGetIn" />
      <wsdl:output message="tns:UserLanguageListByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageSetById">
      <wsdl:input message="tns:UserLanguageSetByIdHttpGetIn" />
      <wsdl:output message="tns:UserLanguageSetByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageDeleteById">
      <wsdl:input message="tns:UserLanguageDeleteByIdHttpGetIn" />
      <wsdl:output message="tns:UserLanguageDeleteByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <wsdl:input message="tns:InterestListHttpGetIn" />
      <wsdl:output message="tns:InterestListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestLangList">
      <wsdl:input message="tns:InterestLangListHttpGetIn" />
      <wsdl:output message="tns:InterestLangListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <wsdl:input message="tns:InterestNameQueryByIdHttpGetIn" />
      <wsdl:output message="tns:InterestNameQueryByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterestList">
      <wsdl:input message="tns:UserInterestListHttpGetIn" />
      <wsdl:output message="tns:UserInterestListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterestAddById">
      <wsdl:input message="tns:UserInterestAddByIdHttpGetIn" />
      <wsdl:output message="tns:UserInterestAddByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterestDeleteById">
      <wsdl:input message="tns:UserInterestDeleteByIdHttpGetIn" />
      <wsdl:output message="tns:UserInterestDeleteByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TransAnsRateById">
      <wsdl:input message="tns:TransAnsRateByIdHttpGetIn" />
      <wsdl:output message="tns:TransAnsRateByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageSend">
      <wsdl:input message="tns:MessageSendHttpGetIn" />
      <wsdl:output message="tns:MessageSendHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageRecvByUser">
      <wsdl:input message="tns:MessageRecvByUserHttpGetIn" />
      <wsdl:output message="tns:MessageRecvByUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageSentByUser">
      <wsdl:input message="tns:MessageSentByUserHttpGetIn" />
      <wsdl:output message="tns:MessageSentByUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageGetById">
      <wsdl:input message="tns:MessageGetByIdHttpGetIn" />
      <wsdl:output message="tns:MessageGetByIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="Initialize">
      <wsdl:input message="tns:InitializeHttpPostIn" />
      <wsdl:output message="tns:InitializeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <wsdl:input message="tns:UserCaptchaHttpPostIn" />
      <wsdl:output message="tns:UserCaptchaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterHttpPostIn" />
      <wsdl:output message="tns:UserRegisterHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <wsdl:input message="tns:UserAuthorizeByUsernameHttpPostIn" />
      <wsdl:output message="tns:UserAuthorizeByUsernameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <wsdl:input message="tns:UserIsLoggedInHttpPostIn" />
      <wsdl:output message="tns:UserIsLoggedInHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <wsdl:input message="tns:UserLogoutHttpPostIn" />
      <wsdl:output message="tns:UserLogoutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <wsdl:input message="tns:UserCurrentHttpPostIn" />
      <wsdl:output message="tns:UserCurrentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserUpdateById">
      <wsdl:input message="tns:UserUpdateByIdHttpPostIn" />
      <wsdl:output message="tns:UserUpdateByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserGetById">
      <wsdl:input message="tns:UserGetByIdHttpPostIn" />
      <wsdl:output message="tns:UserGetByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserPasswordUpdate">
      <wsdl:input message="tns:UserPasswordUpdateHttpPostIn" />
      <wsdl:output message="tns:UserPasswordUpdateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIdGetByUsername">
      <wsdl:input message="tns:UserIdGetByUsernameHttpPostIn" />
      <wsdl:output message="tns:UserIdGetByUsernameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <wsdl:input message="tns:DictionaryLookupHttpPostIn" />
      <wsdl:output message="tns:DictionaryLookupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <wsdl:input message="tns:TranslationLookupHttpPostIn" />
      <wsdl:output message="tns:TranslationLookupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <wsdl:input message="tns:LanguageListHttpPostIn" />
      <wsdl:output message="tns:LanguageListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <wsdl:input message="tns:LanguageNameQueryByIdHttpPostIn" />
      <wsdl:output message="tns:LanguageNameQueryByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageListById">
      <wsdl:input message="tns:UserLanguageListByIdHttpPostIn" />
      <wsdl:output message="tns:UserLanguageListByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageSetById">
      <wsdl:input message="tns:UserLanguageSetByIdHttpPostIn" />
      <wsdl:output message="tns:UserLanguageSetByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageDeleteById">
      <wsdl:input message="tns:UserLanguageDeleteByIdHttpPostIn" />
      <wsdl:output message="tns:UserLanguageDeleteByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <wsdl:input message="tns:InterestListHttpPostIn" />
      <wsdl:output message="tns:InterestListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestLangList">
      <wsdl:input message="tns:InterestLangListHttpPostIn" />
      <wsdl:output message="tns:InterestLangListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <wsdl:input message="tns:InterestNameQueryByIdHttpPostIn" />
      <wsdl:output message="tns:InterestNameQueryByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterestList">
      <wsdl:input message="tns:UserInterestListHttpPostIn" />
      <wsdl:output message="tns:UserInterestListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterestAddById">
      <wsdl:input message="tns:UserInterestAddByIdHttpPostIn" />
      <wsdl:output message="tns:UserInterestAddByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInterestDeleteById">
      <wsdl:input message="tns:UserInterestDeleteByIdHttpPostIn" />
      <wsdl:output message="tns:UserInterestDeleteByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TransAnsRateById">
      <wsdl:input message="tns:TransAnsRateByIdHttpPostIn" />
      <wsdl:output message="tns:TransAnsRateByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageSend">
      <wsdl:input message="tns:MessageSendHttpPostIn" />
      <wsdl:output message="tns:MessageSendHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageRecvByUser">
      <wsdl:input message="tns:MessageRecvByUserHttpPostIn" />
      <wsdl:output message="tns:MessageRecvByUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageSentByUser">
      <wsdl:input message="tns:MessageSentByUserHttpPostIn" />
      <wsdl:output message="tns:MessageSentByUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageGetById">
      <wsdl:input message="tns:MessageGetByIdHttpPostIn" />
      <wsdl:output message="tns:MessageGetByIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://omniproject.org/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <soap:operation soapAction="http://omniproject.org/UserCaptcha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap:operation soapAction="http://omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <soap:operation soapAction="http://omniproject.org/UserAuthorizeByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap:operation soapAction="http://omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <soap:operation soapAction="http://omniproject.org/UserLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <soap:operation soapAction="http://omniproject.org/UserCurrent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdateById">
      <soap:operation soapAction="http://omniproject.org/UserUpdateById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetById">
      <soap:operation soapAction="http://omniproject.org/UserGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserPasswordUpdate">
      <soap:operation soapAction="http://omniproject.org/UserPasswordUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIdGetByUsername">
      <soap:operation soapAction="http://omniproject.org/UserIdGetByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <soap:operation soapAction="http://omniproject.org/DictionaryLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap:operation soapAction="http://omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <soap:operation soapAction="http://omniproject.org/LanguageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <soap:operation soapAction="http://omniproject.org/LanguageNameQueryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguageListById">
      <soap:operation soapAction="http://omniproject.org/UserLanguageListById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguageSetById">
      <soap:operation soapAction="http://omniproject.org/UserLanguageSetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguageDeleteById">
      <soap:operation soapAction="http://omniproject.org/UserLanguageDeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <soap:operation soapAction="http://omniproject.org/InterestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestLangList">
      <soap:operation soapAction="http://omniproject.org/InterestLangList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <soap:operation soapAction="http://omniproject.org/InterestNameQueryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterestList">
      <soap:operation soapAction="http://omniproject.org/UserInterestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterestAddById">
      <soap:operation soapAction="http://omniproject.org/UserInterestAddById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterestDeleteById">
      <soap:operation soapAction="http://omniproject.org/UserInterestDeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransAnsRateById">
      <soap:operation soapAction="http://omniproject.org/TransAnsRateById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageSend">
      <soap:operation soapAction="http://omniproject.org/MessageSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageRecvByUser">
      <soap:operation soapAction="http://omniproject.org/MessageRecvByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageSentByUser">
      <soap:operation soapAction="http://omniproject.org/MessageSentByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageGetById">
      <soap:operation soapAction="http://omniproject.org/MessageGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap12:operation soapAction="http://omniproject.org/Initialize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <soap12:operation soapAction="http://omniproject.org/UserCaptcha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap12:operation soapAction="http://omniproject.org/UserRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <soap12:operation soapAction="http://omniproject.org/UserAuthorizeByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <soap12:operation soapAction="http://omniproject.org/UserIsLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <soap12:operation soapAction="http://omniproject.org/UserLogout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <soap12:operation soapAction="http://omniproject.org/UserCurrent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdateById">
      <soap12:operation soapAction="http://omniproject.org/UserUpdateById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetById">
      <soap12:operation soapAction="http://omniproject.org/UserGetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserPasswordUpdate">
      <soap12:operation soapAction="http://omniproject.org/UserPasswordUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIdGetByUsername">
      <soap12:operation soapAction="http://omniproject.org/UserIdGetByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <soap12:operation soapAction="http://omniproject.org/DictionaryLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <soap12:operation soapAction="http://omniproject.org/TranslationLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <soap12:operation soapAction="http://omniproject.org/LanguageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <soap12:operation soapAction="http://omniproject.org/LanguageNameQueryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguageListById">
      <soap12:operation soapAction="http://omniproject.org/UserLanguageListById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguageSetById">
      <soap12:operation soapAction="http://omniproject.org/UserLanguageSetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguageDeleteById">
      <soap12:operation soapAction="http://omniproject.org/UserLanguageDeleteById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <soap12:operation soapAction="http://omniproject.org/InterestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestLangList">
      <soap12:operation soapAction="http://omniproject.org/InterestLangList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <soap12:operation soapAction="http://omniproject.org/InterestNameQueryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterestList">
      <soap12:operation soapAction="http://omniproject.org/UserInterestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterestAddById">
      <soap12:operation soapAction="http://omniproject.org/UserInterestAddById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterestDeleteById">
      <soap12:operation soapAction="http://omniproject.org/UserInterestDeleteById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransAnsRateById">
      <soap12:operation soapAction="http://omniproject.org/TransAnsRateById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageSend">
      <soap12:operation soapAction="http://omniproject.org/MessageSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageRecvByUser">
      <soap12:operation soapAction="http://omniproject.org/MessageRecvByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageSentByUser">
      <soap12:operation soapAction="http://omniproject.org/MessageSentByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageGetById">
      <soap12:operation soapAction="http://omniproject.org/MessageGetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Initialize">
      <http:operation location="/Initialize" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <http:operation location="/UserCaptcha" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <http:operation location="/UserRegister" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <http:operation location="/UserAuthorizeByUsername" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <http:operation location="/UserIsLoggedIn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <http:operation location="/UserLogout" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <http:operation location="/UserCurrent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdateById">
      <http:operation location="/UserUpdateById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserGetById">
      <http:operation location="/UserGetById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserPasswordUpdate">
      <http:operation location="/UserPasswordUpdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIdGetByUsername">
      <http:operation location="/UserIdGetByUsername" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <http:operation location="/DictionaryLookup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <http:operation location="/TranslationLookup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <http:operation location="/LanguageList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <http:operation location="/LanguageNameQueryById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguageListById">
      <http:operation location="/UserLanguageListById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguageSetById">
      <http:operation location="/UserLanguageSetById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageDeleteById">
      <http:operation location="/UserLanguageDeleteById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <http:operation location="/InterestList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestLangList">
      <http:operation location="/InterestLangList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <http:operation location="/InterestNameQueryById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterestList">
      <http:operation location="/UserInterestList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterestAddById">
      <http:operation location="/UserInterestAddById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserInterestDeleteById">
      <http:operation location="/UserInterestDeleteById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="TransAnsRateById">
      <http:operation location="/TransAnsRateById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="MessageSend">
      <http:operation location="/MessageSend" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="MessageRecvByUser">
      <http:operation location="/MessageRecvByUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageSentByUser">
      <http:operation location="/MessageSentByUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageGetById">
      <http:operation location="/MessageGetById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Initialize">
      <http:operation location="/Initialize" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserCaptcha">
      <http:operation location="/UserCaptcha" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <http:operation location="/UserRegister" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthorizeByUsername">
      <http:operation location="/UserAuthorizeByUsername" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsLoggedIn">
      <http:operation location="/UserIsLoggedIn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <http:operation location="/UserLogout" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserCurrent">
      <http:operation location="/UserCurrent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdateById">
      <http:operation location="/UserUpdateById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserGetById">
      <http:operation location="/UserGetById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserPasswordUpdate">
      <http:operation location="/UserPasswordUpdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIdGetByUsername">
      <http:operation location="/UserIdGetByUsername" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryLookup">
      <http:operation location="/DictionaryLookup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslationLookup">
      <http:operation location="/TranslationLookup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageList">
      <http:operation location="/LanguageList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanguageNameQueryById">
      <http:operation location="/LanguageNameQueryById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguageListById">
      <http:operation location="/UserLanguageListById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLanguageSetById">
      <http:operation location="/UserLanguageSetById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserLanguageDeleteById">
      <http:operation location="/UserLanguageDeleteById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="InterestList">
      <http:operation location="/InterestList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestLangList">
      <http:operation location="/InterestLangList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InterestNameQueryById">
      <http:operation location="/InterestNameQueryById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterestList">
      <http:operation location="/UserInterestList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInterestAddById">
      <http:operation location="/UserInterestAddById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UserInterestDeleteById">
      <http:operation location="/UserInterestDeleteById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="TransAnsRateById">
      <http:operation location="/TransAnsRateById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="MessageSend">
      <http:operation location="/MessageSend" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="MessageRecvByUser">
      <http:operation location="/MessageRecvByUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageSentByUser">
      <http:operation location="/MessageSentByUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageGetById">
      <http:operation location="/MessageGetById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://omniproject.org/Service/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://omniproject.org/Service/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://omniproject.org/Service/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://omniproject.org/Service/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>